.header-btn {
  border: none;
  border-radius: 25px;
  background-color: #ff4e50;
  padding: 11px 36px 12px 37px;
  width: 280px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  margin-bottom: 138px;
  margin-left: 20px;
}
.see-other {
  font-size: 14px;
  text-align: center;
  color: #ff4e50;
  width: 280px;
  height: 40px;
  border: 2px #ff4e50 solid;
  border-radius: 25px;
  background: transparent;
  margin-bottom: 57px;
  margin-top: 27px;
  margin-left: 16px;
}
