.hero {
  margin-top: 67px;
  .partners-title {
    margin-bottom: 14px;
    font-size: 22px;
    text-align: center;
    color: #333;
  }
  .partner-img {
    margin: 0 auto;
    margin-bottom: 14px;
  }
  .partner-name {
    font-size: 14px;
    text-align: center;
    color: #333;
  }
  .partner-info {
    font-family: $second-family;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #666;
    margin-top: 13px;
  }
}
