.hero {
  margin-top: 67px;
  .hero__partners-title {
    margin-bottom: 14px;
    font-size: 22px;
    text-align: center;
    color: #333;
  }
  .partner-list {
    .partner-list__item:nth-child(2) {
      .partner-list__info {
        padding-top: 16px;
        width: 247px;
        text-align: center;
        margin: 0 auto;
      }
    }
    position: relative;
    .partner-list__img {
      margin: 0 auto;
      margin-bottom: 14px;
      margin-top: 32px;
      margin-left: 90px;
    }
    .ellipse {
      margin-left: -36px;
      
    } 
    .icon-box {
      display: flex;
      align-items: end;
      width: 120px;
    }
    .partner-list__name {
      font-size: 14px;
      text-align: center;
      color: #333;
    }
    .partner-list__info {
      font-family: $second-family;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      color: #666;
      margin-top: 13px;
    }
  }
}
